@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: "OpenSans-Regular";
    src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf"); }
  
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "Raleway-Regular";
  src: local("Raleway-Regular"), url("../fonts/Raleway-Regular.ttf"); }

  @font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/raleway-webfont.eot');
    src: url('../fonts/raleway-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-webfont.woff2') format('woff2'),
         url('../fonts/raleway-webfont.woff') format('woff'),
         url('../fonts/raleway-webfont.ttf') format('truetype'),
         url('../fonts/raleway-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}