/*general styles*/

body{
    font: 14px "OpenSans-Regular";
}

.container{
   margin: 0 auto;
}

.title{
    margin-bottom: 80px;
}

.titleWhite{
    color: #fff;
}

h3{
    color: #212121;
    font: 36px 'Raleway-Regular';
    text-align: center;
    text-transform: uppercase;
}

.line{
    width: 66px;
    height: 2px;
    background-color: #ff8b38;
    margin: 30px auto;
}

.lineWhite{
    background-color: #fff;
}

.subtitle{
    color: #86878b;
    font: 14px "OpenSans-Regular";
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
}

.align{
    align-items: flex-end;
}

button{
    display: block;
    background-color: rgba(0, 0, 0, 0);
    font: 15px "OpenSans-Regular";
    color: #fff;
    padding: 15px 30px;
    margin: 0 auto;
    border: none;
    outline: 2px solid #fff;
    
}

button:hover{
    cursor: pointer;
    color: #ff8b38;
    outline: 2px solid #ff8b38;
}

.section{
    padding: 100px 0px;
}

/*section1*/

.section .item{
    text-align: center;
    margin-bottom: 24px;
}

    .section .item .img{
        border-radius: 100%;
        border: 2px solid #ff8b38;
        width: 32px;
        margin: 0 auto 35px auto;
        font-size: 32px;
        padding: 32px;
        color: #ff8b38;
    }

    .section .item .title{
        font: 20px "OpenSans-Bold";
        color: #333333;
        margin-bottom: 30px;
    }

    .section .item .subtitle{
        font-size: 14px;
    }

/*section2*/

.grayBg{
    background-color: #f5f5f5;
}

    .section .plan{
        text-align: center;
        color: #fff;
        cursor: pointer;
        opacity: 0.9;
        transition: 0.3s;
        margin-bottom: 36px;
    }

    .section .plan:hover{
        opacity: 1;
        box-shadow: 4px 4px 42px -1px rgba(0,0,0,0.28);
    }

        .section .plan .header{ 
            background: #2f2f2f;
        }

            .section .plan .header .titlePlan{
                font: 20px "OpenSans-Bold";
                height: 60px;
                line-height: 60px;
            }

            .section .plan .header .pricePlan{
                font: 35px "OpenSans-Regular";
                outline: 1px solid #fff;
                height: 110px;
            }

                .section .plan .header .pricePlan span{
                    font: 94px "OpenSans-Bold";
                }
            
            .section .plan .header .special{
                background-color: #ff8b38;
                text-transform: uppercase;
                height: 40px;
                line-height: 40px;
            }

            .section .plan .header .subtitlePlan{
                color: #acacac;
                height: 50px;;
                line-height: 50px;
                font-style: italic; 
            }

            .section .plan .header .border{
                border-bottom: 10px solid #ff8b38;
            }

        .section .plan .content{ 
            background: #fff;
        }

            .section .plan .content .feature{
                height: 40px;
                line-height: 40px;
                text-transform: uppercase;
                color: #86878b;
                border-bottom: 1px solid #f5f5f5;
            }


/*section3*/

.sectionBg{
   background: url('../imgs/bg.png') center no-repeat;
   background-size: cover;
   padding: 75px 0;
}

/*section4*/

.side input, .side textarea{
    width: 100%;
    margin-bottom: 35px;
    border: 0 solid red;
    border-bottom: 1px solid #d6d6d6;
    padding: 15px;
}

.side input:focus, .side textarea:focus{
    outline: 0px;
    border-bottom: 1px solid #ff9b51;        
}

.side input::placeholder, .side textarea::placeholder{
    color: #bdbdbd;
}

.side textarea{
    height: 203px;
    resize: none;
}

.formButton{
    background-color: #ff9b51;
    border-radius: 4px;
    box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.64);
    outline: none;
    opacity: 0.9;
    transition: 0.3s;
}

.formButton:hover{
    color: #fff;
    box-shadow: 0px 4px 18px -3px rgba(0,0,0,0.64);
    border-radius: 4px;
    outline: none;
    opacity: 1;
}

 


/*footer*/

footer{
    padding: 35px 0 10px 0;
    background-color: #212121;
}


footer .social {
    width: 300px;
    margin:  0 auto 15px auto;
}

    footer .social i{
        color: #fff;
        cursor: pointer;
        font-size: 24px;
    }

    footer .social i:hover{
        color: #ff8b38;
    }

    footer .copyright{
        color: #fff;
        text-align: center;
    }












