/*general styles*/

body{
    font: 14px "OpenSans-Regular";
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 16px;
}

.title{
    margin-bottom: 80px;
}

h3{
    color: #212121;
    font: 36px 'Raleway-Regular';
    text-align: center;
    text-transform: uppercase;
}

.line{
    width: 66px;
    height: 2px;
    background-color: #ff8b38;
    margin: 30px auto;
}

.subtitle{
    color: #86878b;
    font: 14px "OpenSans-Regular";
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
}



/*section*/

#section{
    padding: 100px 0px;
}

    #section .item{
        width: 350px;
        text-align: center;
    }

        #section .item .img{
            border-radius: 100%;
            border: 2px solid #ff8b38;
            width: 32px;
            margin: 0 auto 35px auto;
            font-size: 32px;
            padding: 32px;
            color: #ff8b38;
        }

        /*#section .item .lamp{
            background: url('../imgs/lamp.png') center no-repeat;
            width: 35px;
            height: 35px;
        }

        #section .item .keyboard{
            background: url('../imgs/keyboard.png') center no-repeat;
            width: 35px;
            height: 35px;
        }

        #section .item .flash{
            background: url('../imgs/flash.png') center no-repeat;
            width: 35px;
            height: 35px;
        }*/

        #section .item .title{
            font: 20px "OpenSans-Bold";
            color: #333333;
            margin-bottom: 30px;
        }

        #section .item .subtitle{
            font-size: 14px;
        }