@media (max-width: 769px) {
    .container{
        padding: 0px 16px;
    }

    .section{
        padding: 64px 0px;
    }

    .sectionHeader .side{
        margin-bottom: 36px;
    }

    .sectionHeader .bgHeader {
        height: auto;
        padding-bottom: 36px;
    }

    .title{
        margin-bottom: 32px;
    }

    header{
        position: relative;
    }

    header .logo{
        margin: 0 auto 16px auto;
    }

    header .row {
        text-align: center;
        justify-content: space-around;

    }

    .side textarea{
        height: 44px;
        resize: none;
    }

    button{
        width: 100%;
    }
}